html 
{
  font-size: 16px; /* 1rem = 16px */
  scroll-behavior: smooth;
}

@font-face
{
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-Light.ttf");
}

::-webkit-scrollbar 
{
  width: 0.3125rem;
}
  
::-webkit-scrollbar-track 
{
  background-color: black;
}
  
::-webkit-scrollbar-thumb 
{
  background-color: white;
}

body
{
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Jura";
}

main
{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr auto auto auto auto;
  height: auto;
}

header 
{
  background-color: black;
  height: 7.1875rem;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.headerList 
{     
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  display: contents;
}

.headerList li 
{
  position: relative;
  text-align: center;
}

.info,
.aboutUs,
.searchBar 
{
  color: white;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.info 
{
  grid-column: 1 / 2;
}

.searchBar 
{
  grid-column: 2 / 3;
  align-items: center;
  position: relative;
}

.aboutUs 
{
  grid-column: 3 / 4;
}

.searchBar input 
{
  padding: 0.4rem 2em;
  font-size: 2.25rem;
  text-align: center;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  outline: none;
  background-color: black;
  color: white;
  font-family: "Jura";
}

.searchBar input::placeholder 
{
  color: white;
  opacity: 0.5;
}

/* Suggestion box */

.suggestions 
{
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: black;
  color: white;
  font-family: "Jura";
  z-index: 100;
  width: 100%;
}

.suggestions li 
{
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions li:hover 
{
  background-color: #222222;
  color: white;  
}

/* Dropdown-menu */
.dropdownMenu 
{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -0.625rem);
  width: 15.625rem; 
  background-color: black;
  list-style: none;
  padding: 0.5rem 0;
  text-align: center;
  z-index: 1100;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform .3s ease, opacity .3s ease, max-height .3s ease, visibility 0s linear .3s;
}

/* Links in dropdown-menu */
.dropdownMenu li a 
{
  color: white;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
}

.dropdownMenu li a:hover 
{
  background: black;
}

/* Hover (desktop) */
@media (hover: hover) and (pointer: fine) 
{
  .dropdown:hover .dropdownMenu 
  {
    transform: translate(-50%, 0);
    max-height: 31.25rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: transform .3s ease, opacity .3s ease, max-height .3s ease, visibility 0s;
  }
}

/* Open-state (mobile) */
.dropdownMenu.open 
{
  transform: translate(-50%, 0);
  max-height: 31.25rem;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: transform .3s ease, opacity .3s ease, max-height .3s ease, visibility 0s;
}

header.hidden 
{
  transform: translateY(-100%);
}

.mainTitle 
{ 
  color: black;
  text-align: center; 
  font-size: 8rem; 
  font-weight: normal; 
  position: absolute; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10; 
  letter-spacing: 0.15em; 
  grid-column: 1/5; 
  grid-row: 2/3; 
}

.mainTitleWhite 
{ 
  color: white; 
  text-align: center; 
  font-size: 8rem; 
  font-weight: normal; 
  position: absolute; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10; 
  letter-spacing: 0.15em; 
  grid-column: 1/5; 
  grid-row: 2/3; 
}

.headerImg
{
  width: 100%;
  position: relative;
  grid-column: 1/5;
  grid-row: 2/3;
}

.middleBlock
{
  grid-column: 1/5;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto auto auto;
}

.sideCastImg
{
  grid-column: 1/2;
  grid-row: 1/5;
  height: 75%;
  width: auto;
  margin: 5rem 0;
}

.secondTitle
{
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
  text-align: center;
  font-size: 6.25rem;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin-bottom: 0;
}

.thirdTitle
{
  grid-column: 1/3;
  grid-row: 5/6;
  color: white;
  text-align: center;
  font-size: 6.25rem;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin-bottom: 0;
}

#artDisplay
{
  grid-column: 1/5; 
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem 2rem;
  column-gap: 1.5rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#artDisplay img
{
  display: block;
  margin-left: auto; 
  margin-right: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  max-width: 50%;
  height: auto;
}

#artDisplay img:hover 
{
  transform: scale(1.05);
}

.lightbox 
{
  display: none;
  position: fixed;
  z-index: 1150;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  justify-items: center;
}

.lightbox-content 
{
  margin-top: 5rem;
  max-width: 80%;
  max-height: 80vh;
}

.close 
{
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.artOne
{
  grid-column: 1/2; 
  grid-row: 1/2;
}

.creditOne
{
  grid-column: 1/2; 
  grid-row: 2/3;
}

.artTwo
{
  grid-column: 2/3; 
  grid-row: 1/2;
}

.creditTwo
{
  grid-column: 2/3; 
  grid-row: 2/3;
}

.artThree
{
  grid-column: 3/4; 
  grid-row: 1/2;
}

.creditThree
{
  grid-column: 3/4; 
  grid-row: 2/3;
}

.artFour
{
  grid-column: 4/5; 
  grid-row: 1/2;
}

.creditFour
{
  grid-column: 4/5; 
  grid-row: 2/3;
}

.infoSlider 
{
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
}

.slides 
{
  position: relative;
  min-height: 11rem;
  width: 100%;
}

.slide 
{
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.slide.songs ul
{
  margin-top: 0;
}

.slide a
{
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: white;
  text-decoration: none;
  justify-self: center;
  display: inline-block;
  position: relative;  
}

.slide a::after
{
  content: "";
  left: 50%;
  bottom: 0rem;
  position: absolute;

  width: 0;
  height: 0.1rem;
  background-color: white;

  transition: width 0.3s ease, left 0.3s ease;
}

.slide a:hover::after
{
  width: 100%;
  left: 0;
}

.slide.extraInfo
{
  display:grid;
  grid-template-columns: 1fr 1fr;

  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  font-size: 1.40rem;
  letter-spacing: 0;
  text-align: left;
}

.slide.extraInfo p
{
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.slide h2
{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.playlistHr
{
  border: 0;
  border-top: 0.1rem solid white;
  width: 50%;
  margin: 0.25rem auto;
}

.slide.active 
{
  opacity: 1;
  pointer-events: auto;
}

.upperHr 
{
  border: 0;
  border-top: 0.1rem solid white;
  width: 90%;
  margin: 0.25rem auto;
}

.scrollWrapper 
{
  max-height: 130px;
  overflow: hidden; 
  position: relative;
  padding-right: 5rem;
}

.scrollable
{
  max-height: 130px;   
  overflow-y: auto;    
  background-color: black;
  padding-left: 5rem; 
  list-style: none;
}

.scrollable::-webkit-scrollbar 
{
  width: 0.3125rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0;  
}
  
.scrollable::-webkit-scrollbar-track 
{
  background-color: black;
}

.scrollable::-webkit-scrollbar-button {
  display: none;
}

.lowerHr 
{
  border: 0;
  border-top: 0.1rem solid white;
  width: 90%;
  margin: 0.75rem auto;
}

.sliderBtn 
{
  background: none;
  border: none;
  color: white;
  font-size: 1.75rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.sliderBtn.prev 
{
  transform: translateX(5rem);
}

.sliderBtn.next 
{
  transform: translateX(-5rem);
}

.sliderBtn:hover 
{
  opacity: 0.6;
}

.sliderContent 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.castText
{
  grid-column: 2/3;
  grid-row: 3/4;
  color: white;
  text-align: left;
  font-size: 1.75rem;
  font-weight: normal;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 0rem;
  margin-bottom: 0;
  /* Line-height: 2.5; */
}

.redactedText
{
  background-color: rgb(191, 191, 191);
  color: transparent;
  user-select: none;
}

.referLink
{
  color: white;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
  position: relative;
  display: inline-block;  
  justify-self: center;
  font-style: italic;
}

.referLink::after
{
  content: "";
  left: 50%;
  bottom: 0rem;
  position: absolute;

  width: 0;
  height: 0.1rem;
  background-color: white;

  transition: width 0.3s ease, left 0.3s ease;
}

.referLink:hover::after
{
  width: 100%;
  left: 0;
}

.backButton
{ 
  color: white; 
  background-color: black; 
  text-align: center; 
  font-size: 2.25rem; 
  font-weight: normal; 
  letter-spacing: 0.15em; 
  grid-column: 2/4; 
  grid-row: 4/5; 
  text-decoration: none; 
  justify-self: center;
  align-self: center; 
  z-index: 10;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

footer
{
  grid-column: 1/5;
  grid-row: 5/6;
  color: white;
  text-align: right;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  font-size: 1.5rem;
}

.footerText
{
  position: absolute;
  right: 0.625rem;
  z-index: 1;
  margin: 0;
  color: white;
  max-width: 50%;
}

.footerImg
{
  width: 100%;
  display: block;
}

.footerContainer 
{
  position: relative;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}

.dcLogo
{
  height: 4rem;
  width: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

@media (max-width: 768px) 
{
  .mainTitle 
  {
    position: relative;     
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    font-size: 3rem;        
    margin: 3rem 0;  
    color: black !important;     
  }

  .mainTitleWhite 
  {
    position: relative;     
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    font-size: 3rem;        
    margin: 3rem 0;  
    color: white !important;     
  }

  .secondTitle, .thirdTitle 
  {
    font-size: 3rem;
  }

  .creditOne,
  .creditTwo,
  .creditThree,
  .creditFour
  {
    font-size: 0.75rem;
  }

  .lightbox-content 
  {
    max-width: 90vw;
    max-height: 85vh;

    width: auto;
    height: auto;

    object-fit: contain;
  }

  .middleBlock 
  {
    display: flex;
    flex-direction: column;  
    gap: 2rem;             
    align-items: center;
  }

  header 
  {
    height: auto;
  }

  .headerList 
  {
    font-size: 1rem;
  }

  .dropdownMenu li a 
  {
    font-size: 1rem;
  }

  .dropdownMenu 
  {
    width: 6rem; 
    padding: 0.5rem 0;
  }

  .searchBar 
  {
    position: relative;
    margin: 0 auto; 
  }

  .searchBar input
  {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem 1em;
    font-size: 1rem;
    display: block;
  }

  .searchBar .suggestions 
  {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
  }

  .searchBar .suggestions li 
  {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0;
    padding-top: 0.5rem;
  }

  .infoSlider {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
  }

  .sliderBtn {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .sliderBtn.prev,
  .sliderBtn.next {
    transform: none;
  }

  .slide {
    font-size: 1rem;
    letter-spacing: 0.1em;
  }

  .slides {
    min-height: 11rem;
  }

  .creditText
  {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }

  .slide.extraInfo 
  {
    grid-template-columns: 1fr 1fr;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.80rem;
  }

  .slide.extraInfo p 
  {
    margin-bottom: 1.75rem;
  }

  .scrollWrapper 
  {
    padding-right: 1rem;
    max-height: 140px;
  }

  .scrollable 
  {
    padding-left: 1rem;
    max-height: 140px;
  }

  .upperHr,
  .lowerHr {
    width: 95%;
    margin: 0.5rem auto;
  }

  .playlistHr {
    width: 70%;
  }

  .castText
  {
    font-size: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sideCastImg
  {
    height: auto;
    width: 75%;
  }
  
  .dcLogo 
  {
    height: 2rem;
    width: auto;
    padding: 0;
  }

  .footerText 
  {
    max-width: 100%;
    text-align: center;
    right: auto;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }

  .footerImg 
  {
    width: 100%;
    height: auto;
    text-align: center;
  }
}