html 
{
  font-size: 16px; /* 1rem = 16px */
}

@font-face
{
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-Light.ttf");
}

::-webkit-scrollbar 
{
  width: 0.3125rem;
}
  
::-webkit-scrollbar-track 
{
  background-color: black;
}
  
::-webkit-scrollbar-thumb 
{
  background-color: white;
}

body
{
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Jura";
}

main
{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr auto auto auto auto;
  height: auto;
}

header 
{
  background-color: black;
  height: 7.1875rem;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.headerList 
{     
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  display: contents;
}

.headerList li 
{
  position: relative;
  text-align: center;
}

.info,
.aboutUs,
.searchBar 
{
  color: white;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.info 
{
  grid-column: 1 / 2;
}

.searchBar 
{
  grid-column: 2 / 3;
  align-items: center;
  position: relative;
}

.aboutUs 
{
  grid-column: 3 / 4;
}

.searchBar input 
{
  padding: 0.4rem 2em;
  font-size: 2.25rem;
  text-align: center;
    border: 0.1rem solid white;
  border-radius: 0.5rem;
  outline: none;
  background-color: black;
  color: white;
  font-family: "Jura";
}

.searchBar input::placeholder 
{
  color: white;
  opacity: 0.5;
}

/* Suggestion box */

.suggestions 
{
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: black;
  color: white;
  font-family: "Jura";
  z-index: 100;
  width: 100%;
}

.suggestions li 
{
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions li:hover 
{
  background-color: #222222;
  color: white;  
}

/* Dropdown-menu */
.dropdownMenu 
{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -0.625rem);
  width: 15.625rem; 
  background-color: black;
  list-style: none;
  padding: 0.5rem 0;
  text-align: center;
  z-index: 1100;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform .3s ease, opacity .3s ease, max-height .3s ease, visibility 0s linear .3s;
}

/* Links in dropdown-menu */
.dropdownMenu li a 
{
  color: white;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
}

.dropdownMenu li a:hover 
{
  background: black;
}

/* Hover (desktop) */
@media (hover: hover) and (pointer: fine) 
{
  .dropdown:hover .dropdownMenu 
  {
    transform: translate(-50%, 0);
    max-height: 31.25rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: transform .3s ease, opacity .3s ease, max-height .3s ease, visibility 0s;
  }
}

/* Open-state (mobile) */
.dropdownMenu.open 
{
  transform: translate(-50%, 0);
  max-height: 31.25rem;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: transform .3s ease, opacity .3s ease, max-height .3s ease, visibility 0s;
}

header.hidden 
{
  transform: translateY(-100%);
}

.backButton
{ 
  color: white; 
  background-color: black; 
  text-align: center; 
  font-size: 2.25rem; 
  font-weight: normal; 
  letter-spacing: 0.15em; 
  grid-column: 1/2; 
  grid-row: 1/2; 
  text-decoration: none; 
  justify-self: center;
  align-self: center; 
  z-index: 10;
}

.mainTitle 
{ 
  color: black;
  text-align: center; 
  font-size: 8rem; 
  font-weight: normal; 
  position: absolute; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10; 
  letter-spacing: 0.15em; 
  grid-column: 1/5; 
  grid-row: 2/3; 
}

.mainTitleWhite 
{ 
  color: white; 
  text-align: center; 
  font-size: 8rem; 
  font-weight: normal; 
  position: absolute; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10; 
  letter-spacing: 0.15em; 
  grid-column: 1/5; 
  grid-row: 2/3; 
}

.headerImg
{
  width: 100%;
  position: relative;
  grid-column: 1/5;
  grid-row: 2/3;
}

.middleBlock
{
  grid-column: 1/5;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
}

.middleBlockLowerContent
{
  grid-column: 1/5;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.middleBlockOneDivinity,
.middleBlockTwoDivinity,
.middleBlockThreeDivinity,
.middleBlockFourDivinity
{
  grid-column: 1/5;
  grid-row: 6/7;
  display: grid;
  grid-template-rows: repeat(2, auto);
  column-gap: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.middleBlockOneDivinity
{
  grid-template-columns: 1fr;
}

.middleBlockTwoDivinity
{
  grid-template-columns: repeat(2, 1fr);
}

.middleBlockThreeDivinity
{
  grid-template-columns: repeat(3, 1fr);
}

.middleBlockFourDivinity
{
  grid-template-columns: repeat(4, 1fr);
}

.mentions
{
  grid-column: 1/5;
  grid-row: 8/9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.mention
{
  position: relative;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 5rem;
}

.mentionInfo p
{
  font-size: 1.5rem;
}

.mention:hover .mentionInfo:not(.active),
.mentionInfo.active 
{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, -50%) scaleY(1);
}

.mentionInfo 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0);

  transform-origin: center;

  width: 22rem;
  max-width: calc(100vw - 2rem);
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: 2px solid white;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 10;

  transition:
  transform 0.4s cubic-bezier(.25,.8,.25,1),
  opacity 0.2s ease;
}

.mentionInfo h4
{
  font-weight: normal;
  font-size: 2.5rem;
  margin: 1.5rem 0.5rem;
}

.mentionInfo.flipped 
{
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.secondTitle
{
  grid-column: 1/5;
  grid-row: 1/2;
  color: white;
  text-align: center;
  font-size: 6.25rem;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.secondTitleRiimut
{
  grid-column: 1/5;
  grid-row: 1/2;
  color: white;
  text-align: center;
  font-size: 5.5rem;
  font-weight: normal;
  letter-spacing: 0.10em;
}

.nationText
{
  grid-column: 1/5;
  grid-row: 2/3;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 2.75rem;
}

.redactedText
{
  background-color: rgb(191, 191, 191);
  color: transparent;
  user-select: none;
}

.thirdTitle
{
  grid-column: 1/5;
  grid-row: 3/4;
  color: white;
  text-align: center;
  font-size: 6.25rem;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.divinityTitle
{
  grid-column: 1/5;
  grid-row: 5/6;
  color: white;
  text-align: center;
  font-size: 6.25rem;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.mentionsTitle
{
  grid-column: 1/5;
  grid-row: 7/8;
  color: white;
  text-align: center;
  font-size: 6.25rem;
  font-weight: normal;
  letter-spacing: 0.15em;
}

/* Divinity Covers */

.divinityOneCover,
.divinityTwoCover,
.divinityThreeCover,
.divinityFourCover
{
  display: flex;
  justify-content: center;
}

.divinityTwoCover
{
  grid-column: 1/2;
  grid-row: 1/2;
}

.divinityThreeCover
{
  grid-column: 2/3;
  grid-row: 1/2;
}

.divinityFourCover
{
  grid-column: 3/4;
  grid-row: 1/2;
}

/* Divinity Text */

.divinityOneText,
.divinityTwoText,
.divinityThreeText,
.divinityFourText
{
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2.25rem;
}

.divinityOneText
{
  grid-column: 1/2;
  grid-row: 2/3;
}

.divinityTwoText
{
  grid-column: 2/3;
  grid-row: 2/3;
}

.divinityThreeText
{
  grid-column: 3/4;
  grid-row: 2/3;
}

.divinityFourText
{
  grid-column: 4/5;
  grid-row: 2/3;
}

/* Covers */

[class^="castCover"]
{
  display: flex;
  justify-content: center;
}

[class^="castCover"] img
{
  width: clamp(180px, 20vw, 200px);
  height: auto;
}

.castCoverOne
{
  grid-column: 1/2;
  grid-row: 1/2;
}

.castCoverTwo
{
  grid-column: 2/3;
  grid-row: 1/2;
}

.castCoverThree
{
  grid-column: 3/4;
  grid-row: 1/2;
}

.castCoverFour
{
  grid-column: 4/5;
  grid-row: 1/2;
}

.castCoverFive
{
  grid-column: 1/2;
  grid-row: 3/4;
}

.castCoverSix
{
  grid-column: 2/3;
  grid-row: 3/4;
}

.castCoverSeven
{
  grid-column: 3/4;
  grid-row: 3/4;
}

.castCoverEight
{
  grid-column: 4/5;
  grid-row: 3/4;
}

.castCoverNine
{
  grid-column: 1/2;
  grid-row: 5/6;
}

.castCoverTen
{
  grid-column: 2/3;
  grid-row: 5/6;
}

.castCoverEleven
{
  grid-column: 3/4;
  grid-row: 5/6;
}

.castCoverTwelve
{
  grid-column: 4/5;
  grid-row: 5/6;
}

/* Text */

[class^="castText"]
{
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2.25rem;
}

.castTextOne
{
  grid-column: 1/2;
  grid-row: 2/3;
}

.castTextTwo
{
  grid-column: 2/3;
  grid-row: 2/3;
}

.castTextThree
{
  grid-column: 3/4;
  grid-row: 2/3;
}

.castTextFour
{
  grid-column: 4/5;
  grid-row: 2/3;
}

.castTextFive
{
  grid-column: 1/2;
  grid-row: 4/5;
}

.castTextSix
{
  grid-column: 2/3;
  grid-row: 4/5;
}

.castTextSeven
{
  grid-column: 3/4;
  grid-row: 4/5;
}

.castTextEight
{
  grid-column: 4/5;
  grid-row: 4/5;
}

.castTextNine
{
  grid-column: 1/2;
  grid-row: 6/7;
}

.castTextTen
{
  grid-column: 2/3;
  grid-row: 6/7;
}

.castTextEleven
{
  grid-column: 3/4;
  grid-row: 6/7;
}

.castTextTwelve
{
  grid-column: 4/5;
  grid-row: 6/7;
}

footer
{
  grid-column: 1/5;
  grid-row: 5/6;
  color: white;
  text-align: right;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  font-size: 1.5rem;
}

.footerText
{
  position: absolute;
  right: 0.625rem;
  z-index: 1;
  margin: 0;
  color: white;
  max-width: 50%;
}

.footerImg
{
  width: 100%;
  display: block;
}


.footerContainer 
{
  position: relative;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}

.dcLogo
{
  height: 4rem;
  width: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

@media (max-width: 768px) 
{
  .mainTitle 
  {
    position: relative;     
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    font-size: 3rem;        
    margin: 3rem 0;  
    color: black !important;     
  }

  .mainTitleWhite 
  {
    position: relative;     
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    font-size: 3rem;        
    margin: 3rem 0;  
    color: white !important;     
  }

  .secondTitle
  {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .secondTitleRiimut
  {
    font-size: 3rem;
  }

  .thirdTitle,
  .divinityTitle,
  .mentionsTitle
  {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .middleBlock 
  {
    display: flex;
    flex-direction: column;  
    gap: 2rem;             
    align-items: center;
  }

  .middleBlockLowerContent
  {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    column-gap: 3rem; 
    row-gap: 1rem;            
    align-items: center;
    margin: 0 1.5rem;
  }

  .middleBlockTwoDivinity,
  .middleBlockThreeDivinity,
  .middleBlockFourDivinity
  {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    column-gap: 3rem; 
    row-gap: 1rem;            
    align-items: center;
    margin: 0 1.5rem;
  }

  .mentions
  {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  .mention
  {
    font-size: 1.5rem;
  }

  .mentionInfo 
  {
    width: 8rem;
    padding: 0.5rem;
    border: 1px solid white;
  }

  .mentionInfo h4
  {
    font-weight: normal;
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
  }

  .mentionInfo p
  {
    font-size: 0.5rem;
  }

  header 
  {
    height: auto;
  }

  .headerList 
  {
    font-size: 1rem;
  }

  .dropdownMenu li a 
  {
    font-size: 1rem;
  }

  .dropdownMenu 
  {
    width: 6rem; 
    padding: 0.5rem 0;
  }

  .searchBar 
  {
    position: relative;
    margin: 0 auto; 
  }

  .searchBar input
  {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem 1em;
    font-size: 1rem;
    display: block;
  }

  .searchBar .suggestions 
  {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
  }

  .searchBar .suggestions li 
  {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0;
    padding-top: 0.5rem;
  }

  .nationText
  {
    font-size: 1.25rem;
    margin: 0;
    padding: 0 1rem;
    line-height: 1.75rem;
  }

  [class^="castCover"] img,
  /* Divinity */
  .divinityOneCover img,
  .divinityTwoCover img,
  .divinityThreeCover img,
  .divinityFourCover img
  {
    width: 100%;
    height: auto;
  }

[class^="castText"],
  /* Divinity */
  .divinityOneText,
  .divinityTwoText,
  .divinityThreeText,
  .divinityFourText
  {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }

  /* 1 by 2 alignment img */
  .castCoverOne
  {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .castCoverTwo
  {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .castCoverThree
  {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .castCoverFour
  {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .castCoverFive
  {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .castCoverSix
  {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .castCoverSeven
  {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  .castCoverEight
  {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  .castCoverNine
  {
    grid-column: 1/2;
    grid-row: 9/10;
  }

  .castCoverTen
  {
    grid-column: 2/3;
    grid-row: 9/10;
  }

  .castCoverEleven
  {
    grid-column: 1/2;
    grid-row: 11/12;
  }

  .castCoverTwelve
  {
    grid-column: 2/3;
    grid-row: 11/12;
  }

  /* 1 by 2 alignment text */
  .castTextOne
  {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .castTextTwo
  {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .castTextThree
  {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .castTextFour
  {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .castTextFive
  {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .castTextSix
  {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  .castTextSeven
  {
    grid-column: 1/2;
    grid-row: 8/9;
  }

  .castTextEight
  {
    grid-column: 2/3;
    grid-row: 8/9;
  }

  .castTextNine
  {
    grid-column: 1/2;
    grid-row: 10/11;
  }

  .castTextTen
  {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  .castTextEleven
  {
    grid-column: 1/2;
    grid-row: 12/13;
  }

  .castTextTwelve
  {
    grid-column: 2/3;
    grid-row: 12/13;
  }

  /* 1 by 2 alignment Divinity*/
  .divinityOneCover
  {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .divinityOneText
  {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .divinityTwoCover
  {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .divinityTwoText
  {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .divinityThreeCover
  {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .divinityThreeText
  {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .divinityFourCover
  {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .divinityFourText
  {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  
  .dcLogo 
  {
    height: 2rem;
    width: auto;
    padding: 0;
  }

  .footerText 
  {
    max-width: 100%;
    text-align: center;
    right: auto;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }

  .footerImg 
  {
    width: 100%;
    height: auto;
    text-align: center;
  }
}